################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PB.CreditSystem
/tests/PB.CreditCardService.Tests/bin/Debug/net8.0
/tests/PB.CreditCardService.Tests/obj
/tests/PB.CustomerService.Tests/bin/Debug/net8.0
/tests/PB.CustomerService.Tests/obj
/tests/PB.CreditProposalService.Tests/bin/Debug/net8.0
/tests/PB.CreditProposalService.Tests/obj
/src/Services/CreditCardService/PB.CreditCardService.Domain/bin/Debug/net8.0
/src/Services/CreditCardService/PB.CreditCardService.Domain/obj
/src/Services/CreditCardService/PB.CreditCardService.Infrastructure/bin/Debug/net8.0
/src/Services/CreditCardService/PB.CreditCardService.Infrastructure/obj
/src/Services/CreditCardService/PB.CreditCardService.Application/bin/Debug/net8.0
/src/Services/CreditCardService/PB.CreditCardService.Application/obj
/src/Services/CreditCardService/PB.CreditCardService.API/obj
/src/Services/CreditProposalService/PB.CreditProposalService.API/obj
/src/Services/CreditProposalService/PB.CreditProposalService.Application/bin/Debug/net8.0
/src/Services/CreditProposalService/PB.CreditProposalService.Application/obj
/src/Services/CreditProposalService/PB.CreditProposalService.Domain/bin/Debug/net8.0
/src/Services/CreditProposalService/PB.CreditProposalService.Domain/obj
/src/Services/CreditProposalService/PB.CreditProposalService.Infrastructure/obj
/src/Services/CustomerService/PB.CustomerService.API/obj
/src/Services/CustomerService/PB.CustomerService.Application/obj
/src/Services/CustomerService/PB.CustomerService.Domain/bin/Debug/net8.0
/src/Services/CustomerService/PB.CustomerService.Domain/obj
/src/Services/CustomerService/PB.CustomerService.Infrastructure/obj
/src/Shared/PB.Shared.Core/obj
/src/Shared/PB.Shared.Messaging/bin/Debug/net8.0
/src/Shared/PB.Shared.Messaging/obj
